[user]
	email = zemccartney@gmail.com
	name = Zack McCartney

[alias]
	a = add
	s = status
	c = commit
	d = -c diff.external='difft --syntax-highlight off' diff -- ':!package-lock.json'
	sw = switch
	sn = switch -c
	ki = checkout --
	p = pull
	oc = !git branch -vv | grep \": gone\" | awk '{print $1}' | xargs git branch -d

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true

[push]
	autoSetupRemote = true
	followTags = true

[pull]
	ff = only
  
[column]
  	ui = auto

[branch]
  	sort = -committerdate

[tag]
	sort = version:refname

[fetch]
	prune = true
	pruneTags = true
	all = true