[user]
	email = zemccartney@gmail.com
	name = Zack McCartney

[alias]
	a = add
	s = status
	c = commit
	d = -c diff.external=difft diff -- . ':!package-lock.json'
	sw = switch

[push]
	autoSetupRemote = true

[pull]
	ff = only